footer {
    background-color: var(--color_theme);
    color: var(--color_footertext);
    margin-top: auto;
}

footer a {
    color: var(--color_footertext);
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    align-items: center;
    margin-top: 1rem;
}

.footer__element {
    /* margin: 1rem 0; */
}

@media (min-width: 400px) {
    .footer {
        margin: 0 2rem;
        flex-direction: row;
    }
    .footer__element {
        margin: 1rem 0;
    }
}
