header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.bg-light {
    background-color: var(--bs-primary) !important;
}

.navbar {
    padding: 0.5rem 2rem !important;
}
.navbar .container-fluid {
    max-width: 1180px;
}

.navbar-brand {
    font-size: 1.7rem;
}

.navbar-brand:hover {
    color: var(--bs-pink) !important;
}

button.navbar-toggler {
    border: none;
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0) !important;
}
.nav-link {
    color: var(--bs-gray) !important;
    text-transform: uppercase;
}
.nav-link.active {
    color: var(--bs-pink) !important;
}
.nav-link:hover {
    text-decoration: underline;
}
#navbarNavAltMarkup {
    justify-content: right;
}
.navbar-toggler[aria-expanded="true"] {
    display: none;
}
