:root {
    --bs-pink: #c32c72;
    --bs-body-color: #f4f3ee;
    --bs-primary: #f4f3ee;
    --bs-body-bg: #e5e5e5;
    --bs-body-font-family: "Open Sans", sans-serif;
    --bs-gray: #8d8d8d;
    --bs-dark: #463f3a;
}
